@charset "UTF-8";

.idResultbody{
	position: relative;
	height: 400px;
}
.idResult{
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
}
.idResult > h3{
	font-size: 30px;
}
.idResult > button {
	margin-top: 30px;
	width: 160px;
	height: 40px;
	background-color: black;
	color:white;
}
.btn:hover{
	animation-name: btn;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}
@keyframes btn{
  0%{
    background-color: #ffffff;
  }
  100%{
    background-color: #000000;
    color:white;
  }
}